
<div class="container">
<div class="row">    
<div class="col-sm">
<div class="p-3 mb-5 bg-white rounded">
    <div class="card shadow-lg " style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title">Card title</h1>
        <h3 class="card-subtitle mb-2 text-muted">Card subtitle</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
 </div>
 
<div class="col-sm">
<div class="p-3 mb-5 bg-white rounded">
    <div class="card shadow-lg " style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title">Card title</h1>
        <h3 class="card-subtitle mb-2 text-muted">Card subtitle</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
      
<div class="col-sm">
<div class="p-3 mb-5 bg-white rounded">
    <div class="card shadow-lg " style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title">Card title</h1>
        <h3 class="card-subtitle mb-2 text-muted">Card subtitle</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>