.container{
    right :10%;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  .dtp {
    width: 50%;
  }
  .btn {
     padding-left: 80%;
  }
  .example-button-row button,
  .example-button-row a {
  margin-right: 8px;
  }
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
  display: none;
  }