
<br>
<div class="container">
   <mat-label>
     <h1>
      Send Updates
     </h1>
   </mat-label>

  <br>
    <form >
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="row">
    
            <div class="col-md-12 mb-3">
              <label>Message Titel</label>
              <input type="text" formControlName="admin" class="form-control" required>
            </div>
    
            <div class="col-md-12 mb-3">
              <label>Message Sub Titel</label>
              <input type="text" formControlName="topic" class="form-control">
            </div>
    
          </div>
    
          <div class="row">
            <div class="col-md-12 mb-3">
              <label>Sender Name</label>
              <input type="email" formControlName="date" class="form-control" required>
            </div>
    
            <div class="col-md-12 mb-3">
              <label>Sent Date</label>
              <input type="text" formControlName="msg" class="form-control" required>
            </div>
          </div>
    
          <div class="form-group text-right">
            <button mat-raised-button color="primary" >Send Updates</button>
          </div>
    
        </div>
      </div>
    </form>
</div>
<br>