
.btn:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(25, 0, 255, 0.12), 0 4px 8px rgba(68, 0, 255, 0.06)
}

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0, 68, 255, 0.12), 0 4px 8px rgba(16, 23, 128, 0.06);
}

/* .img-fluid:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06)
} */
